extends dashboard.pug
block content
    section.dashboard-users__show.dashboard-admin_email
        nav.breadcrumb-nav
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/home/dashboard") Home
                li.breadcrumb-item
                    a(href="/home/admin-site") Editar Sitio
                li.breadcrumb-item.active(aria-current="page") Administrar correos
        div.dashboard-profile__user-header.dashboard-admin_email-header
            p.dashboard-profile__user-heading.dashboard-admin_email-heading.table-title-heading Administrando correos
        if(emails.length)
            table.table.table-emails
                thead
                    tr
                        th FullName
                        th Subject
                        th Fecha
                tbody
                    each email in emails
                        tr(onclick="openEmail(event)" data-email= email)
                            td(data-label="FullName") #{email.fullname.substr(0,15)}...
                            td(data-label="Subject") #{email.subject.substr(0,70)}...
                            td(data-label="Fecha") #{email.created_at}
        else
            div.error-no-show
                p No hay una lista de usuarios que mostrar.
        div#popUp-emails.overlay.closeWindowUser(data-gl= saveEmail)
            div.popUp-user(style="position:relative;")
                #dataOfEmail.data-of-email
                a#closePopupEmails.boton.closePopUpUserAddStyle(href="#") Cerrar
                div.mark-read
                    form#formEmailEditCheck(method="POST")
                        label
                            input(type="checkbox" name="reading" id="reading-email")
                            | Marcar como Leído

        script.
            const popupEmails = document.querySelector("#popUp-emails"),
                closePopupEmails = document.querySelector("#closePopupEmails"),
                dataOfEmail = document.querySelector("#dataOfEmail"),
                formEmailEditCheck = document.querySelector("#formEmailEditCheck");

            
            function openEmail(e){
                e.preventDefault();
                const readingEmail = document.querySelector("#reading-email");
                let data = JSON.parse(e.srcElement.parentElement.dataset.email);
                if(data.reading == 0){
                    readingEmail.checked = false;
                }else if(data.reading == 1){
                    readingEmail.checked = true;
                }
                dataOfEmail.innerHTML = `<p class="fullname">${data.fullname}</p>
                    <p class="email">${data.email}</p>
                    <p class="created">${data.created_at}</p>
                    <p class="subject">${data.subject}</p>
                    <p class="message">${data.message}</p>`;
                readingEmail.value=data.id;

                readingEmail.addEventListener("change", function(event){
                    const formData = new FormData(formEmailEditCheck);
                        formData.append("check", (readingEmail.checked)?1:0);
                        formData.append("idComment", data.id)
                    fetch('/update-change-reading-email', {
                        method: "POST",
                        body: formData
                    })
                        .then(result => result.json())
                        .then(data => {
                            console.log(data)
                            setTimeout(function(){
                                window.location.reload();
                            }, 3000)
                        })
                        .catch(err => console.log(err));
                });

                popupEmails.classList.toggle("closeWindowUser")
            }
            closePopupEmails.addEventListener("click", function(e){
                e.preventDefault();
                popupEmails.classList.toggle("closeWindowUser");
            });
