doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='preload' href='/../css/normalize.css' as='style')
		link(rel='stylesheet' href='/../css/normalize.css')
		link(rel='preload' href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap' crossorigin='crossorigin' as='font')
		link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap' rel='stylesheet')
		link(rel='preload' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' crossorigin='anonymous' as='style')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' crossorigin='anonymous')
		link(rel='preload' href='/../css/styles.css' as='style')
		link(rel='stylesheet' href='/../css/styles.css')
	body.body-dashboard
		section.dashboard-contenedor
			div.dashboard-panel-left
				.logo
					a.no-margin.logo__title(href='/') introspect
				a.navigation-mobile-open.navigation-mobile-dashboard(href="#", id="hamburguerMenuDashboard")
					i.fas.fa-bars
				ul.dashboard-navigation
					each menuItem in menuSend
						a.dashboard-navigation-link(href= menuItem.url)= menuItem.name
				//ul.dashboard-navigation
					a.dashboard-navigation-link(href="/home/dashboard")
						i.fa-solid.fa-house-chimney
						| Inicio
					a.dashboard-navigation-link(href="/home/admin-site")
						i.fa-solid.fa-bars-progress
						| Editar Sitio
					a.dashboard-navigation-link(href="/home/adminBlog")
						i.fa-solid.fa-chart-simple
						| Blog
					a.dashboard-navigation-link(href="/home/users")
						i.fa-solid.fa-user
						| Usuarios
					a.dashboard-navigation-link(href="#")
						i.fa-solid.fa-calendar-days
						| Calendar
			div.dashboard-panel-contenedor
				div.dashboard-panel__header
					form.dashboard-panel__form(action="/", method="GET")
						input.dashboard-panel__form-input(type="text", name="search-dashboard_txt", id="search-dashboard", placeholder="Search", required)
					div.dashboard-panel__header-options
						div.dashboard-panel__header-message
							a.icon(href="#")
								i.fa-solid.fa-envelope
							div.dashboard-panel__header-message_panel(style="display:none;")
								ol
									li Hueso Carnudo
									li Hueso de Pollo
									li Papa guata
									li Papa yema de huevo
									li Sandias
						div.dashboard-panel__header-notification
							a.icon(href="#")
								i.fa-solid.fa-bell
							div.dashboard-panel__header-notification_panel(style="display:none;")
								ol
									li Hueso Carnudo
									li Hueso de Pollo
									li Papa guata
									li Papa yema de huevo
									li Sandias
						div.dashboard-panel__header-user
							a(href="#", id="user-r").dashboard-panel__header-user-link
								img.imagen-avatar(src="/images/avatar.png")
								b.caret
							div.dashboard-panel__header-user-menu
								b.name #{userLogued.first_name} #{userLogued.last_name}
								p.username #{userLogued.user_name}
								a(href="/home/profile").dashboard-panel__header-btn.username-btn Ver Perfil
				div.dashboard-panel-content
					if(home)
						p Este sera el inicio del sitio
					block content
		script(src="/js/codigo.js")
		script.
			const linkToMenuDash = document.querySelectorAll(".dashboard-navigation-link");
			let pathName = window.location.pathname;
			linkToMenuDash.forEach(function(linkMenu){
				if(pathName === '/home/dashboard'){
					(linkMenu.textContent == "Inicio")
						? linkMenu.classList.add("dashboard-navigation-link-active")
						: linkMenu.classList.remove("dashboard-navigation-link-active")
				}else if(pathName === '/home/admin-site'){
					(linkMenu.textContent == "Editar Sitio")
						? linkMenu.classList.add("dashboard-navigation-link-active")
						: linkMenu.classList.remove("dashboard-navigation-link-active")
				}else if(pathName === '/home/adminBlog'){
					(linkMenu.textContent == "Blog")
						? linkMenu.classList.add("dashboard-navigation-link-active")
						: linkMenu.classList.remove("dashboard-navigation-link-active")
				}else if(pathName === '/home/users'){
					(linkMenu.textContent == "Usuarios")
						? linkMenu.classList.add("dashboard-navigation-link-active")
						: linkMenu.classList.remove("dashboard-navigation-link-active")
				}else{
					linkMenu.classList.remove("dashboard-navigation-link-active")
				}
			});
			(function(c, d){
				const userR = d.querySelector("#user-r"),
					panelUserMenu = d.querySelector(".dashboard-panel__header-user-menu"),
					dashboardNavigation = d.querySelector(".dashboard-navigation"),
					hamburguerMenuDashboard = d.querySelector("#hamburguerMenuDashboard");

				userR.addEventListener("click", function(e){
					e.preventDefault();
					panelUserMenu.classList.toggle("showPanMenu")
				});
				hamburguerMenuDashboard.addEventListener("click", function(e){
					e.preventDefault();
					dashboardNavigation.classList.toggle("transitionMenuDash");
				});
			})(console.log, document);
