extends dashboard.pug

block content
    h4.read-articles__title.addPost-title Agregar una nueva Publicación
    form.formulario.signup-formulario.formulario-addPost(method="POST", id="form-edit-post", encType="multipart/form-data")
        input(type="hidden", name="idPost", id="id_post", value=post.id)
        .campo
            input.campo__input(type='text', name="title_txt", placeholder="Título del Post", id="title", autocomplete='off', value=post.title required)
        .campo
            textarea(name="brief_txt", placeholder="Resumen del post", id="brief", required)= post.brief
        .campo
            textarea.content-textarea(name="content_txt", placeholder="Contenido del post", id="content", required)= post.content
        .campo
            img(src=`/images/dashboard/post/${post.image}`, width="300", height="250", style="object-fit: conver;")
            input(type="hidden", name="name_image_post", value=post.image)
            input.formulario-addUser__btnUploadImage(type='file', name="image_post", id="image-post")
        .campo.campo-status
            div.formulario-addPost__radio.mb1-5
                if(post.status == 0)
                    input(type="radio", name="status", value="0", id="publicado", checked)
                    label(for="publicado") Publicado
                else
                    input(type="radio", name="status", value="0", id="publicado")
                    label(for="publicado") Publicado
            div.formulario-addPost__radio
                if(post.status == 1)
                    input(type="radio", name="status", value="1", id="no_publicado", checked)
                    label(for="no_publicado") No publicado
                else
                    input(type="radio", name="status", value="1", id="no_publicado")
                    label(for="no_publicado") No publicado
        .select-category
            select.fline-height(name="category_slc", id="category", required)
                option(value= post.category_id)= post.categoria
                option -----------
                each category in categories
                    option(value=category.id)= category.name
        .formulario-user
            img.formulario-user__image(src=`/images/dashboard/${post.imagen_avatar}`, width="100", height="100", style="object-fit: conver;border-radius:50%;")
            .formulario-user-info
                p.formulario-user-info__name #{post.first_name} #{post.last_name}
                p.formulario-user-info__username #{post.user_name}
                p.formulario-user-info__email #{post.email}
        input#actionFormEdit.boton.formulario__send(type='submit' value='Enviar Formulario')

    script.
        const formEditPost = document.querySelector("#form-edit-post");

        formEditPost.addEventListener("submit", function(e){
            e.preventDefault();
            const formData = new FormData(formEditPost);
            fetch('/edit-post', {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(success => {
                console.log(success)
            })
        });
