doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='preload' href='css/normalize.css' as='style')
		link(rel='stylesheet' href='css/normalize.css')
		link(rel='preload' href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Pacifico&display=swap&family=Instrument+Serif&display=swap' crossorigin='crossorigin' as='font')
		link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Pacifico&display=swap&family=Instrument+Serif&display=swap' rel='stylesheet')
		link(rel='preload' href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' crossorigin='anonymous' as='font')
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' crossorigin='anonymous')
		link(rel='preload' href='css/styles.css' as='style')
		link(rel='stylesheet' href='css/styles.css')
	body
		.top-header__options
			.contenedor.top-header__contenedor
				p.text-location
					i.fas.fa-map-marker-alt
					| Popayan, Cauca - Colombia
				.social-network--login
					.social-network
						a(href='#')
							i.fab.fa-twitter
						a(href='#')
							i.fab.fa-facebook-f
						a(href='#')
							i.fab.fa-instagram
						a(href='#')
							i.fab.fa-youtube
					.social--login
						a.login(href='/login') Login
						a.login(href='/signup') Signup
		header.header
			.contenedor.header-contenedor
				.logo
					a.no-margin.logo__title(href='/')
						| introspect
				.navigation-overflow.hideNavigationMob#containerNavMob
					nav.navigation
						a.navigation__link(href='/') Inicio
						a.navigation__link(href='/somos') Somos
						a.navigation__link(href='#') Blog
						a.navigation__link(href='#') Contactanos
					a.navigation-mobile-close(href="#", id="closeMenuMob")
						i.fas.fa-times
				a.navigation-mobile-open(href="#", id="hamburguerMenuMob")
					i.fas.fa-bars
		block content
		script(src="/js/codigo.js")
		script.
			const hamburguerMenuMob = document.querySelector("#hamburguerMenuMob");
			const containerNavMob = document.querySelector("#containerNavMob");
			const headerNavigation = document.querySelector(".header-contenedor .navigation");
			const navigation = document.querySelector(".navigation");
			const closeMenuMob = document.querySelector("#closeMenuMob");

			hamburguerMenuMob.addEventListener("click", function(e){
				e.preventDefault();
				/*containerNavMob.style.visibility="visible";
				containerNavMob.style.transform="translateX(0px)";
				containerNavMob.style.transitionDuration=".8s";
				containerNavMob.style.transitionProperty = "transform";

				navigation.style.transform="translateX(0px)";
				navigation.style.transitionDuration="2s";
				navigation.style.transitionProperty = "transform";*/

				containerNavMob.classList.add("showMenuMobOverlay");
				navigation.classList.add("shoMenuMob");
			});
			closeMenuMob.addEventListener("click", function(e){
				e.preventDefault();
				/*navigation.style.transform="translateX(-700px)";
				navigation.style.transitionDuration=".5s";
				navigation.style.transitionProperty = "transform";

				containerNavMob.style.transform="translateX(-1500px)";
				containerNavMob.style.transitionDuration="4s";
				containerNavMob.style.transitionProperty = "transform";
				if(containerNavMob.style.translateX == "-1500px"){containerNavMob.style.visibility="hidden";}*/
				
				containerNavMob.classList.remove("showMenuMobOverlay");
				navigation.classList.remove("shoMenuMob");
			});
