extends layout.pug

block content
    div.somos-title-text
        p.somos-title-text__pagraph 
            |The Story
            <br>Of 
            span Introspect
    div.somos-description
        div.somos-description-container
            p.somos-description__text= obj.text1
        div.somos-description-icon-small
            p.text-icon I
    div.somos-team-information
        div.somos-description-container.somos-team-information_container
            figure.somos-team-profile
                img.somos-team-profile__image(src="images/somos1.jpg")
                figcaption.somos-team-profile__caption Arthur Roger
            figure.somos-team-profile
                img.somos-team-profile__image(src="images/somos2.jpg")
                figcaption.somos-team-profile__caption Jeck Borrer
            p.somos-team-information__text.tc1= obj.text2
            p.somos-team-information__middel-text Why is it important to have us as your ally?
            p.somos-team-information__text.tc2= obj.text3
    div.somos-history-information
        div.somos-description-container.somos-history-information__container
            p.somos-history-information__text #{obj.text4}
            <br />
            p.somos-history-information__text #{obj.text5}
    footer.footer-somos
        div.somos-description-container.footer-somos-container
            .logo
                a.no-margin.logo__title(href='/')
                    | introspect
            ul.navigation-ul
                a.navigation-ul__link(href='/') Inicio
                a.navigation-ul__link(href='/somos') Somos
                a.navigation-ul__link(href='#') Blog
                a.navigation-ul__link(href='#') Contactanos
            div.somos-socialnetwork
                p.somos-socialnetwork__text Siguenos
                a(href='#')
                    i.fab.fa-twitter
                a.facem(href='#')
                    i.fab.fa-facebook-f
                a(href='#')
                    i.fab.fa-instagram
