extends dashboard.pug

block content
    section.dashboard-users__show
        div.dashboard-profile__user-header
            p.dashboard-profile__user-heading.table-title-heading Lista de Usuarios
            a.dashboard-profile__user-link.table-header-button(href="#", id="openPopupAddUser")
                i.fa-solid.fa-user-plus
                | Agregar un usuario
        table.table
            thead
                tr
                    th Primer Nombre
                    th Primer Apellido
                    th Celular
                    th Username
                    th Correo
                    th Pais
                    th Cargo
                    th
                    th
            tbody
                each user in users
                    tr
                        td #{user.first_name}
                        td #{user.last_name}
                        td #{user.mob_no}
                        td #{user.user_name}
                        td #{user.email}
                        td #{user.name_country}
                        td #{user.area_working}
                        td.centrar-text
                            a.table-action(href=`/home/edit-user/${user.id}`, title="Editar")
                                i.fa-regular.fa-pen-to-square
                        td.centrar-text
                            a.table-action.delete(href=`/home/delete-user/${user.id}`, title="Eliminar")
                                i.fa-regular.fa-trash-can
        div#popUp-user.overlay.closeWindowUser
            div.popUp-user
                include addUser.pug
        
        //div#popSuccessUser.overlay.overlay-success
            div.overlay-success-container
                i.fa-solid.fa-check-double
                | Usuario agregado con exito

    script.
        const popUpUser = document.querySelector("#popUp-user"),
            openPopupAddUser = document.querySelector("#openPopupAddUser"),
            closePopupUser = document.querySelector("#closePopUpUserAdd");
        closePopupUser.addEventListener("click", function(e){
            e.preventDefault();
            popUpUser.classList.toggle("closeWindowUser");
        });
        openPopupAddUser.addEventListener("click", function(e){
            e.preventDefault();
            popUpUser.classList.toggle("closeWindowUser");
        });
