extends dashboard.pug

block content
    section.dashboard-users__show
        div.dashboard-profile__user-header
            p.dashboard-profile__user-heading.table-title-heading Lista de Usuarios
            a.dashboard-profile__user-link.table-header-button(href="#", id="openPopupAddUser")
                i.fa-solid.fa-user-plus
                | Agregar un usuario
        if(users.length)
            table.table
                thead
                    tr
                        th Primer Nombre
                        th Primer Apellido
                        th Celular
                        th Username
                        th Correo
                        th Pais
                        th Cargo
                        th
                        th
                tbody
                    each user in users
                        tr
                            td(data-label="Primer Nombre") #{user.first_name}
                            td(data-label="Primer Apellido") #{user.last_name}
                            td(data-label="Celular") #{user.mob_no}
                            td(data-label="Username") #{user.user_name}
                            td(data-label="Correo") #{user.email}
                            td(data-label="Pais") #{user.name_country}
                            td(data-label="Cargo") #{user.area_working}
                            td.centrar-text.table-data-action
                                a.table-action(href=`/home/edit-user/${user.id}`, title="Editar")
                                    i.fa-regular.fa-pen-to-square
                            td.centrar-text.table-data-action
                                form(method="DELETE", action=`/home/delete-user/${user.id}`, style="display: inline-block;")
                                    input(type="hidden", name="_method", value="DELETE")
                                    button.blog-posts-post__delete
                                        i.fa-regular.fa-trash-can
        else
            div.error-no-show
                p No hay una lista de usuarios que mostrar.
        div#popUp-user.overlay.closeWindowUser
            div.popUp-user
                include addUser.pug
        
        //div#popSuccessUser.overlay.overlay-success
            div.overlay-success-container
                i.fa-solid.fa-check-double
                | Usuario agregado con exito

    script.
        const popUpUser = document.querySelector("#popUp-user"),
            openPopupAddUser = document.querySelector("#openPopupAddUser"),
            closePopupUser = document.querySelector("#closePopUpUserAdd");
        closePopupUser.addEventListener("click", function(e){
            e.preventDefault();
            popUpUser.classList.toggle("closeWindowUser");
        });
        openPopupAddUser.addEventListener("click", function(e){
            e.preventDefault();
            popUpUser.classList.toggle("closeWindowUser");
        });
